.logo {
    background-color: gray;
    width: 36px;
    aspect-ratio: 1/1;
    border-radius: 5px;
}

.border {
    background-color: #fff;
    border: 1px solid #EFF0F3;
    border-radius: 20px;
}

.lessonTitle {
    text-transform: capitalize;
    font-weight: 800;
    color: gray;
}