.headerSection {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
}

.section {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.circle {
    width: 40px;
    position: relative;
    height: 40px;
    background-color: #3498db;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}